body {
  background-color: black;
}

article {
  width: 560px;
  border: 1px solid black;
  margin: 1rem auto;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

header,
.icons,
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0.5rem;
}

.icons {
  padding: 0.5rem;
}
figure{
  margin: 0
}

img {
  width: 100%;
}

.text {
  padding: 0.5rem;
  overflow: auto;
}
